<section class="block container">
        <header class="block__header">
            <h2>
                Host on the Cloud to keep Growing
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, nulla!
            </p>
        </header>
        <article class="grid grid--1x2 feature">
            <div class = "feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article> 
        
        
        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article>  


        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article>  
    </section>
    
  <script src="main.js"></script><section class="block container">
        <header class="block__header">
            <h2>
                Host on the Cloud to keep Growing
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, nulla!
            </p>
        </header>
        <article class="grid grid--1x2 feature">
            <div class = "feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article> 
        
        
        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article>  


        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon-container">
                    <svg class="icon icon--primary ">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                    </svg>
                </span>
                <h3 class="feature__heading">Super Easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat ipsum dolore sed, incidunt commodi vel impedit ad sapiente.</p>
                <a href="#" class="link-arrow">Learn More</a>
            </div>
            <picture>
                
                <img class="feature__image" src="images/easy.jpg" alt="">
            </picture>
        </article>  
    </section>
    
  <script src="main.js"></script>